html {
    background-color:#FFF
}

main {
    width:1024px;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif
}

header {
    width: 1024px;
    height: 64px;
    background-color: #FFF
}

nav {
    width: inherit;
    margin-top: 4px;
    background-color: #B1B3B3
}

nav ul {
    list-style:none;
    margin:0;
    padding:4px
}

nav ul li {
    display:inline-block
}

nav ul li a {
    font-size: 0.85em;
    text-decoration: none;
    color: #FFF;
    padding: 4px 20px
}

nav ul li a:hover {
    background-color: #F4BD38
}

article {
    float:left
}

article header hgroup {
    margin:0;
}

p {
    text-align: justify;
}

.box img{
    width: 64px;
    height: 64px;
    margin-left: 128px;
    margin-right: 128px;
    clear: right;
    float: left;
}

.interlude img{
    width: 1024px;
    height: 32px;
    float: left;
}
