/* Top structure */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.top-container {
    width: auto;
    background-color: #F1F1F1;
    padding: 8px;
    text-align: center;
}

nav.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #555;
    padding: 10px 16px;
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin:0;
    padding-left: 256px
}

nav ul li {
    display:inline-block
}

nav ul li a {
    font-size: 0.85em;
    text-decoration: none;
    color: #FFF;
    padding: 4px 20px
}

nav ul li a:hover {
    background-color: #F4BD38
}

/* Main content */

main {
    width:1024px;
    margin: auto;
    font-family: inherit;
}


article {
    text-align: justify;
}

h1 {
    font-size: 32px;
    letter-spacing: -1px;
}

h5, h6 {
    margin-bottom: 1px;
    color: #555;
}

p {
    color: #2d2d2d;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 150%;
}

p:hover {
    background-color: #eff0f1;
}

/* Images */

.left {
  float: left;
  margin-right: 4em;
}

.right {
  float: right;
  margin-left: 4em;
}

.center {
  margin: 0;
}

.box img {
    width: 64px;
    height: 64px;
    margin-left: 128px;
    margin-right: 128px;
    clear: right;
    float: left;
}

