body {
    margin: 0;
}

main{
	width:85%; /* tamanho da estrutura principal */
    height: auto;
    background-color: deepskyblue;
    margin: auto;
    padding: 10px;
    min-width: 400px; /* largura mínima para a estrutura da página. foi definido como o tamanho do box */
}

header {
    width: 100%; /* tamanho relativo a estrutura principal */
    height: 20px;
    background-color: palevioletred;
    /*padding: 10px; o padding com width relativo ultrapassa o tamanho do container */
}

header:hover {
    background-color: mediumvioletred;
}

#logo {
    width: 30px;
    height: 20px;
    background-color: yellow;
    float: left;
}

nav {
    width: 100%;
    height: 20px;
    background-color: darkmagenta;
    float: right;
}

section {
    width: 100%;
    height: 200px;
    background-color: blue;
}

section:hover {
    background-color: mediumblue;
}

article {
    margin-top: 10px;
    width: 100%;
    min-height: 500px;
    background-color: green;
    
    display: flex; /* Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens.*/
    flex-wrap: wrap; /* quebra de linha */
    justify-content: space-around; /* espaço ao redor */
    
}

article:hover {
    background-color: darkgreen;
}

.box {
    width: 400px;
    height: 200px;
    background-color: white;
    margin: 10px;
    
    display: flex;
    align-items: center; /* define o alinhamento top-down */
    justify-content: center; /* define o alinhamento right-left */
}

.box:hover {
    background-color: lightgray;
}


footer {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: yellow;
}

footer:hover {
    background-color: gold;
}


/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Raleway);
h2{
background-color: #FEFFED;
padding: 30px 35px;
margin: -10px -50px;
text-align:center;
border-radius: 10px 10px 0 0;
}
hr{
margin: 10px -50px;
border: 0;
border-top: 1px solid #ccc;
margin-bottom: 40px;
}
div.container{
width: 900px;
height: 610px;
margin:35px auto;
font-family: 'Raleway', sans-serif;
}
div.main{
width: 300px;
padding: 10px 50px 10px;
border: 2px solid gray;
border-radius: 10px;
font-family: raleway;
float:left;
margin-top:60px;
}
input[type=text]{
width: 100%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}
label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}
#erase_id,#login_id{
font-size: 16px;
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 1px solid #e5a900;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
width: 47.5%;
border-radius: 5px;
margin-bottom:10px;
padding: 7px 0;
}
#erase_id:hover,#login_id:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
/*#btn_name,#btn_tag{
margin-left: 10px;
}