body {
    margin: 0;
}

main{
	width:85%; /* tamanho da estrutura principal */
    height: auto;
    background-color: deepskyblue;
    margin: auto;
    padding: 10px;
    min-width: 400px; /* largura mínima para a estrutura da página. foi definido como o tamanho do box */
}

header {
    width: 100%; /* tamanho relativo a estrutura principal */
    height: 20px;
    background-color: palevioletred;
    /*padding: 10px; o padding com width relativo ultrapassa o tamanho do container */
}

header:hover {
    background-color: mediumvioletred;
}

#logo {
    width: 30px;
    height: 20px;
    background-color: yellow;
    float: left;
}

nav {
    width: 100%;
    height: 20px;
    background-color: darkmagenta;
    float: right;
}

section {
    width: 100%;
    height: 200px;
    background-color: blue;
}

section:hover {
    background-color: mediumblue;
}

article {
    margin-top: 10px;
    width: 100%;
    min-height: 500px;
    background-color: green;

    display: flex; /* Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens.*/
    flex-wrap: wrap; /* quebra de linha */
    justify-content: center; /* espaço ao redor */

}

article:hover {
    background-color: darkgreen;
}

.box {
    width: 400px;
    height: 200px;
    background-color: white;
    margin: 10px;
    
    border: 2px solid #ccc;
    border-radius: 5px;

    display: block;
    text-align:center; /* define o alinhamento do botão */
    align-items: center; /* define o alinhamento top-down */
    justify-content: center; /* define o alinhamento right-left */
}

.box:hover {
    background-color: lightgray;
}

input {
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100px;
    background-color: yellow;
    border: 1px solid gold;
    margin: 6px;
    padding: 6px;
}

footer {

    height: 50px;
    margin-top: 10px;
    background-color: yellow;
}

footer:hover {
    background-color: gold;
}

